# Ignore all these files in any subdirectory
**.exe
**.out
**.log
**.o
**.bkp
**/run.bat
**/cmp.bat
# contents of this subdirectory - seems clangd runtime
.idea/
# docmd directories
site/
node_modules/
assets/
# help directories
package/
supp-doc/
backup/
# build directories
**/build
**/build-*
# subproject build
subprojects/tomlplusplus-3.4.0
# other directories
log/*.txt
**/.cache
**/packagecache
